@tailwind base;
@tailwind components;

// Code syntax highlighting,
// powered by https://highlightjs.org
@import '~highlight.js/styles/a11y-light.css';

//@import 'base';
@import 'navigation';
@import 'mailchimp';
@import 'blog';
@import 'alpine-js-base';
@import 'animations';
@import 'primitive/dialog';
@import 'infinite-scroller';


// webfonts

.site-container {
  padding: 0 24px;
  margin: 0 auto;
  position: relative;
  width: 100%;

  @media only screen and (min-width: 768px) {
    padding: 0;
    max-width: 90%;
  }
  @media only screen and (min-width: 1300px) {
    max-width: 1172px;
    margin: 0 auto;
  }

  &.site-container-alt {
    @media only screen and (min-width: 1300px) {
      max-width: 1220px;
      margin: 0 auto;
    }
  }

}

h1, h2, h3, h4, h5 {
  display: block;
  position: relative;
}










@tailwind utilities;
